<launch>
  <!-- YAMLファイルを読み込む -->
  <arg name="config_file" default="/home/sskr3/acm_ws/settings.yaml" />

  <!-- パラメータを読み込み -->
  <rosparam file="$(arg config_file)" command="load" />

  <!-- dynamixel -->
  <include file="$(find dynamixel_control)/launch/multi_pos_only_ctrl.launch" />

  <!-- arduino -->
  <node pkg="serial_to_mag" type="serial_to_mag_binary_node" name="serial_to_mag_binary_node" output="screen" />

  <!-- mag calibration -->
  <node name="mag_calibration_node" pkg="calibration" type="mag_calibration_node" output="screen"/>
</launch>
