<launch>
  <!-- YAMLファイルを読み込む -->
  <arg name="config_file" default="/home/sskr3/acm_ws/settings.yaml" />

  <!-- パラメータを読み込み -->
  <rosparam file="$(arg config_file)" command="load" />

  <!-- arduino -->
  <node pkg="rosserial_python" type="serial_node.py" name="arduino_serial_node" output="screen">
    <param name="port" value="$(param arduino_serial_node/port)" />
    <param name="baud" value="$(param arduino_serial_node/baud)" />
  </node>

  <!-- dynamixel -->
  <node pkg="dynamixel_control" type="multi_pos_ctrl_node" name="multi_pos_ctrl_node" output="screen">
    <param name="device_name"  value="$(param multi_pos_ctrl_node/device_name)" />
    <param name="baud_rate"    value="$(param multi_pos_ctrl_node/baud_rate)" />
    <param name="motor_count"  value="$(param multi_pos_ctrl_node/motor_count)" />
    <param name="freq"         value="$(param multi_pos_ctrl_node/freq)" />
    <remap from="/goal_positions"      to="$(param multi_pos_ctrl_node/goal_topic)" />
    <remap from="/present_positions"   to="$(param multi_pos_ctrl_node/pos_topic)" />
    <remap from="/present_currents"    to="$(param multi_pos_ctrl_node/cur_topic)" />
  </node>

  <!-- zero_point_calibration -->
  <node pkg="calibration" type="zero_point_calibration_node" name="zero_point_calibration_node" output="screen">
    <rosparam file="$(param zero_point_calibration_node/calibration_file)" command="load" />
  </node>
</launch>
