<launch>
  <!-- YAMLファイルを読み込む -->
  <arg name="config_file" default="/home/sskr3/acm_ws/settings.yaml" />

  <!-- パラメータを読み込み -->
  <rosparam file="$(arg config_file)" command="load" />

  <!-- arduino -->
  <node pkg="serial_to_mag" type="serial_to_mag_binary_node" name="serial_to_mag_binary_node" output="screen" />

  <!-- dynamixel -->
  <include file="$(find dynamixel_control)/launch/multi_pos_only_ctrl.launch" />

  <!-- mag tension converter -->
  <include file="$(find bilateral_test)/launch/mag_tension_converter.launch" />

  <!-- PD制御ノード -->
  <node name="feedback_control_node" pkg="feedback_control" type="feedback_control_node" output="screen" />
</launch>