<launch>
  <!-- YAMLファイルを読み込む -->
  <arg name="config_file" default="/home/sskr3/acm_ws/settings.yaml" />

  <!-- パラメータを読み込み -->
  <rosparam file="$(arg config_file)" command="load" />

  <!-- ノード本体 -->
  <node pkg="bilateral_test" type="mag_tension_converter" name="mag_tension_converter" output="screen" />
</launch>
